.todo-list-item {
  display: flex;
}

.todo-list-item .btn {
  width: 29px;
}

.todo-list-item-label {
  margin-right: auto;

  line-height: 30px;
}


.btn-outline-danger {
  margin-right: 10px;
}

.done {
  text-decoration: line-through;
}

.important {
  font-weight: bold;
  
  color: steelblue;
}